@define-color bg #0B0C16;
@define-color fg #ddf7ff;
@define-color gray1 #4fe88f;
@define-color gray2 #6a6e95;
@define-color gray3 #829dd4;
@define-color gray4 #50f7d4;
@define-color gray5 #86a7df;
@define-color fg_bright #ddf7ff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}